.row-fluid
  .span2.objects
    %form.form-search
      %input#filter.input-medium(type='text' placeholder='Filter objects')
    %h3 Objects
    %ul.nav.nav-pills.nav-stacked
      - @schemas.sort{|a,b| a[:title].humanize <=> b[:title].humanize }.each do |i|
        %li
          %a(href="##{i[:title]}" data-name="#{i[:title]}")= i[:title].humanize

  .span10.object
    %form.form-search
      %input#filterFlds.input-medium(type='text' placeholder='Filter fields')
    - @schemas.each do |schema|
      %div.schema(data-name= "#{schema[:title]}" )
        %h2=schema[:title].humanize
        %p=schema[:description]
        - getter, setter = {},{}
        - schema[:properties].each{|k,v|  v['readonly'] ? (getter[k]=v) : (setter[k]=v) ; }
        %h4
          %i.icon-download
          Readonly Properties
        .row-fluid.fields
          = partial '_field', :locals => { :fields => getter}
        %h4
          %i.icon-upload
          Writable Properties
        .row-fluid.fields
          = partial '_field', :locals => { :fields => setter}

        %h4 Links
        .links.fields
          - schema[:links].each do |link|
            %p.field=link[:rel]

        %hr