!!! Strict
%html{ 'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', 'lang' =>  'en' }
  %head
    %title= 'SalesKing API Browser JSON Schema Browser'
    %meta( name='viewport' content='width=device-width, initial-scale=1.0')
    %meta( name='description' content='SalesKing API Browser - JSON Schema Browser')
    %meta( name='author' content='Sales King GmbH - Georg Leciejewski')
    %meta( name='author' content='Sales King GmbH - Georg Leciejewski')
    %link( href='./css/bootstrap.css' rel='stylesheet' type='text/css')
    %link( href='./css/bootstrap-responsive.css' rel='stylesheet' type='text/css')
    %link( href='./css/custom.css' rel='stylesheet' type='text/css')
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %img.logo(src='./img/SalesKing-Logo.png')
          %a(class='brand' href='/')
            SalesKing API-Browser
          %ul.nav
            %li
              %a(href='/') Quick View
            %li
              %a(href='/table') Table View
          %ul.nav.pull-right
            %li
              %a(href='https://github.com/salesking/sk_api_schema/blob/master/CHANGELOG.md') Changelog
            %li
              %a(href='https://github.com/salesking/sk_api_schema/tree/master/json/v1.0') Raw Schema

    .main.container
      = yield
    %footer.footer
      .container
        %a(href='https://github.com/salesking/json-schema-browser') API-Browser on github

    %script(type='text/javascript' src= 'http://code.jquery.com/jquery-1.7.2.min.js')
    %script(type='text/javascript' src= './js/bootstrap.js')
    %script(type='text/javascript' src= 'js/app.js')
