.main.container{margin-top: 50px;}
.schema{clear:both}
h2, h3, h4 {clear: both;}
.schema h4 {margin-top: 15px;}
.fields{clear: both;}
div.field{ margin: 5px 5px 5px 0px; border: 1px solid  #DDD; -webkit-border-radius: 4px ; -moz-border-radius: 4px; border-radius: 4px; color: #555; padding: 10px; width: 30%; float:left;}
div.field:hover{background-color:#DDD ; border-color: #EEE; cursor: pointer; }
.rowbr{clear:left; margin-left: 0 !important;}
hr{width: 80%; margin: 20px; display:inline-block;}
.head{font-weight: bold }
.field small{font-size: 80%; font-weight: normal; }
.links div.field{width: 99%; }
.props{padding-top: 5px}
.navbar .brand { margin-left: -12px;}
.logo{float:left; padding-top: 5px; height: 32px;}
.obj_type{width: 100px}
.footer {
text-align: center;
padding: 30px 0;
margin-top: 70px;
border-top: 1px solid #E5E5E5;
background-color: whiteSmoke;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .field{ width: 96% ;}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .field{ width: 96%;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .field{ width: 45%;}
}

/* Large desktop */
@media (min-width: 1300px) {
  .field{ width: 20%;}
}

@media print {

  .span2.objects{ width: 0 !important; display: none;}
  .span10.object{ width: 100% !important; margin-top: -50px; }
  .form-search{ visibility: hidden; display: none;}
  .navbar-fixed-top .nav{ display: none;}
  .navbar-fixed-top .brand{ padding-left: 50px;}
}